---
layout: default
title: Home
---

</div>
</div>
<!-- We've temporary closed main-content and container to have a full width intro -->    

<!-- Home Jumbotron
================================================== -->
<section class="intro">

<div class="container">                  
    <div class="main-content">
        <div class="row">
            <div class="col-30">
                <p class="text-justify">
                GeNeDis 2020    
                </p>
            </div>
        </div>
        <br>
        <br>
        
</section>
<!-- We reopen main-content and container --> 

<div class="container">                  
    <div class="main-content">
        <div class="row">
            <div class="col-12">
                <p class="text-justify">
                    “The <strong>Laboratory of Bioinformatics and Human Electrophysiology</strong>, Department of Informatics of the Ionian University in cooperation with the <strong>CARGO laboratory, RCCBM and the FORTH Foundation</strong> are organizing the 4th World Congress <strong>‘Genetics, Geriatrics and Neurodegenerative Diseases Research’</strong>, which will be held at Heraklion between 8 to 10 October 2020. The congress includes various issues and roundtables on modern techniques of prevention, treatment and health research on Aging and neurological disorders in general.
                    The congress , unique in the world that includes three of the most modern and popular disciplines: Genetics, Geriatrics and research and prevention of neurodegenerative diseases, focuses on recent developments concerning the above disciplines, starting from advances in research field and the latest scientific discoveries to the clinical and pharmaceutical applications
                    Leading scientists and researchers from around the world will discuss the latest major challenges in the field of scientific research, for the new targets of drugs, to develop new biomarkers for new imaging techniques and new protocols for early diagnosis of neurodegenerative diseases, and for many other scientific achievements.”
                </p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2><span>Organizers</span></h2>    
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-3">
                    <div class="card-body">
                        <h5 class="card-title">BiHELab</h5>
                        <p class="card-text">Bioinformatics and Human Electrophysiology Laboratory, Department of Informatics, Ionian University, Corfu Greece</p>
                        <a href="http://bihelab.di.ionio.gr/" target="_blank" class="btn btn-primary">Visit</a>
                    </div>
                </div>
                <div class="w-100 d-lg-none"><br/></div>
                <div class="w-100 d-lg-none"><br/></div>
                <div class="col-sm-3">
                    <div class="card-body">
                        <h5 class="card-title">FORTH Foundation</h5>
                        <p class="card-text">The Foundation for Research and Technology - Hellas (FORTH), Heraklion Greece</p>
                        <a href="https://www.forth.gr/index.php?l=e" target="_blank" class="btn btn-primary">Visit</a>
                    </div>
                </div>
                <div class="w-100 d-lg-none"><br/></div>
                <div class="w-100 d-lg-none"><br/></div>
                <div class="col-sm-3">
                    <div class="card-body">
                        <h5 class="card-title">CARGO Lab</h5>
                        <p class="card-text">Wilfrid Laurier University, Waterloo, Ontario, Canada</p>
                        <a href="http://www.cargo.wlu.ca/" target="_blank" class="btn btn-primary">Visit</a>
                    </div>
                </div>
                <div class="w-100 d-lg-none"><br/></div>
                <div class="w-100 d-lg-none"><br/></div>
                <div class="col-sm-3">
                    <div class="card-body">
                        <h5 class="card-title">RCCBM</h5>
                        <p class="card-text">Waterloo, Canada</p>
                        <a href="http://www.rccbm.org/" target="_blank" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row row text-center">
            <div class="col-12">
                <div class="section-title">
                    <h2><span>Satellite events</span></h2>    
                </div>
                <div class="col-sm-12">
                    <div class="card-body">
                        <p class="card-text text-justify">For all the available satellite events, follow the link.</p>
                        <a href="https://genedis.eu/pages/satellite-events.html" target="_blank" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
        </div>      

        <!-- Posts Index
        ================================================== -->
         {% if paginator.previous_page %}
                {% if paginator.previous_page > 0 %}
                 <div id="jumptopageof"></div>
        {% endif %}
        {% endif %}    

        <section class="recent-posts row">

           

            <div class="col-sm-12">

                <div class="section-title">
                    <h2><span>Announcements</span></h2>    
                </div>

                <div class="masonrygrid row listrecent">

                    {% for post in paginator.posts %}

                    {% unless post.featured == true %}

                        {% include postbox.html %}

                    {% endunless %}

                    {% endfor %}

                </div> 

                <!-- Pagination -->
                <div class="bottompagination">

                    <span class="navigation" role="navigation">

                        {% include pagination.html %}

                    </span>

                </div>

            </div>

        </section>
